.hero {
    background-image: url("../images/beautiful_morning-wallpaper-2048x1152.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color:olive;
    font-weight: bold;
}

.subtitle {
    color: olive;
    font-style: italic;
}

.ticketmaster {
    height: 247px;
    width: 620px;
    border-radius: 10px;
    border-width: 0px;
    margin-top: 5vh;
    margin-left: 5vw;
}